// BACKGROUND
// body {
//   background-image: url("../images/basketball-background.jpg");
//   background-position: center;
//   background-size: cover;
//   background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("../images/basketball-background.jpg");
// }

.background {
  position: relative; 
  height: 100vh;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.background::before {    
    content: "";
    background-image: url('../images/basketball-background.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .9;
    z-index: -1;
}

// MAP AND LIST

.main-map h2 {
  margin-left: 5px;
  margin-bottom: 35px;
  font-size: 30px;
  text-decoration: underline;
}

.usmap {
  position: fixed;
  top: 15%;
  left: 20%;
  
}

#map {
  width: 60vw;
  height: auto;
}

// #map {
//   max-width: 400px;
// }

// NAV BAR
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: #0c0c0c;
}


.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 1rem;
}

.menu-item a,
.logo {
  text-decoration: none;
  color: #8b7e7e;
  font-size: 30px;
}

.logo {
  font-size: 30px;
}
.menu-item a:hover {
  color:#474444;
}

#simplemaps_list li {
  padding: 5px;
}

#simplemaps_list li a {
  cursor: pointer;
  list-style-type: none;
  text-align: left;
  color: #eb9b08;
  font-size: 25px;

}

#simplemaps_list li a:hover {
  color:#000000;
  font-weight: bold;
}

// BAR GRAPH
.player-bar {
  position: fixed;
  top: 15%;
  left: 15%;
  color:black;
  z-index: 5;
}