// BACKGROUND
// body {
//   background-image: url("../images/basketball-background.jpg");
//   background-position: center;
//   background-size: cover;
//   background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("../images/basketball-background.jpg");
// }

body {
  background: url('../images/basketball-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;

  a {
    text-decoration: none;
  }
}

.cols-container {
  display: flex;
}

.col-1 {
  font-size: 12px;
  width: 15%;
}

.col-2 {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.col-3 {
  width: 20%;
}

// MAP AND LIST

.main-map {
  position: fixed;
  top: 20%;
  left: 18%;
}

#map {
  width: 60vw;
  height: auto;
}

.heading-logo {
  width: 25%;
  position: fixed;
  top: 5%;
  left: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    width: 200px;
  }
  h2 {
    font-size: 40px;
  }
}

#instructions {
  position: fixed;
  top: 10%;
  right: 0.5%;
  width: 18%;
  height: 800px;
  background-color: black;
  color: orange;
  line-height: 1.6;
  padding: 8px;
  border-radius: 6px;

  h2 {
    color: white;
    font-size: 26px;
  }

  #tip {
    color:red;
  }
}

// NAV BAR
.main-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  border-bottom: #0c0c0c;

  h3 {
    margin-right: 15px;
  }
}


.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 1rem;
}

.menu-item a,
.logo {
  text-decoration: none;
  color: #8b7e7e;
  font-size: 30px;
}


.menu-item a:hover {
  color:#474444;
}

#simplemaps_list li {
  padding: 5px;
}

#simplemaps_list li a {
  cursor: pointer;
  list-style-type: none;
  text-align: left;
  color: #eb9b08;
  font-size: 25px;

}

#simplemaps_list li a:hover {
  color:#000000;
  font-weight: bold;
}

// BAR GRAPH
#mycanvas {
  display: none;
  position: fixed;
  top: 15%;
  left: 20%;
  color:black;
  z-index: 5;
}

// BACK BUTTON
#back-btn {
  display: none;
  position: fixed;
  left: 92%;
  bottom: 12%;
}

.back {
  background-color: black;
  color: #eb9b08;
  font-size: 25px;
  border-radius: 2px;
  padding: 5px;
}

#player-container {
  display: none;
}