// MAP

.main-map {
  
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  min-height: 100vh;
}

#map {
  max-width: 70vw;
}

// NAV BAR
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 1rem;
}

.menu-item a,
.logo {
  text-decoration: none;
  color: #8b7e7e;
  font-size: 30px;
}

.logo {
  font-size: 30px;
}
.menu-item a:hover {
  color:#474444;
}

#simplemaps_list {
  list-style-type: none;
  text-align: left;
  font-size: 25px;

  li {
    padding: 5px;
  }
}
